<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    {% set title_block = block('title') %}
    <title>
        {% if title_block is not empty %}
            {{ title_block }}
        {% else %}
            Снять гостиницу город Бийск, SV-Hotel – официальный сайт
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('bundles/hotel/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('bundles/hotel/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('bundles/hotel/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('bundles/hotel/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('bundles/hotel/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('bundles/hotel/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('bundles/hotel/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('bundles/hotel/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/hotel/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('bundles/hotel/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('bundles/hotel/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('bundles/hotel/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('bundles/hotel/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('bundles/hotel/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('bundles/hotel/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <meta name="yandex-verification" content="b985c304863c68a5" />

    {% block stylesheet %}
    <!-- <link rel="stylesheet" href="{{ asset("bundles/hotel/css/bootstrap.min.css") }}" /> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('bundles/hotel/css/main.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hotel/css/icons.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hotel/slick/slick.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/hotel/slick/slick-theme.css') }}"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('bundles/hotel/fancybox/jquery.fancybox.min.css') }}" />
    {% endblock %}

</head>



<body id="page-top">

  {% for message in app.flashes('notice') %}
      <div class="flash-message notice">
          {{ message }}
      </div>
  {% endfor %}

  <div id = "top">
    <div class="container">
      <div class="row">

        <div class="top-logo-container col-xl-3 col-md-3 col-sm-12 col-xs-12">
          <a style="margin-top:-17px;margin-bottom:-17px" class="navbar-brand js-scroll-trigger" href="{{ path('hotel_homepage') }}">
            <img class = 'logo' src="{{ asset('bundles/hotel/images/logo.png') }}" alt="">
          </a>
        </div>

        <div class="top-address-container col-xl-9 col-md-9 col-sm-12 col-xs-12 ">
          <div class="location">
            <ul class = 'list-inline top-address-list'>
              <li class="list-inline-item">
                    <span class = 'icon-location'></span> Советская, 212/2
                    <div class="list-inline-item-description" >адрес</div>
                </li>
              <li class="list-inline-item"><span class = 'icon-phone'></span>
                  <a href="#">8 800 350 46 45</a>
                  <div class="list-inline-item-description" >оздоровительный комплекс</div>
              </li>
              <li class="list-inline-item"><span class = 'icon-phone'></span>
                  <a href="#">(3854) 36–48–36</a>
                  <div class="list-inline-item-description" >для бронирования</div>
              </li>
              <li class="list-inline-item"><span class = 'icon-envelop'></span>
                  <a href="mailto:sv-hotel@inbox.ru">sv-hotel@inbox.ru</a>
                  <div class="list-inline-item-description" >наша почта</div>
              </li>
              {# <li class="list-inline-item"><span class = 'icon-clock'></span> Круглосуточно
                  <div class="list-inline-item-description" ></div>
              </li> #}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg" id="mainNav">
    <div class="container">

      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Меню
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">


        <li class="nav-item dropdown js-dropdown-hover mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 dropdown-toggle" href="{{ path('hotel_post', { 'slug' : 'about' }) }}" id="navbarDropdown" role="button" {# data-toggle="dropdown" #} aria-haspopup="true" aria-expanded="false">О нас</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="{{ path('hotel_post', { 'slug' : 'parthership' }) }}">Для сотрудничества</a>
             <a class="dropdown-item" href="{{ path('hotel_gallery') }}">Галлерея</a>
             <a class="dropdown-item" href="{{ path('hotel_reviews') }}">Отзывы гостей</a>
             <a class="dropdown-item" href="{{ path('hotel_page', { 'slug' : 'accommodation-rules' }) }}">Правила размещения</a>
           </div>
        </li>



        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3" href="{{ path('hotel_rooms') }}">Номера</a>
        </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 js-scroll-trigger" href="{{ path('hotel_posts', {'slug' : 'health_center'}) }}">Оздоровительный коплекс</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3" href="{{ path('hotel_posts', {'slug' : 'news'}) }}">Новости</a>

          {#<li class="nav-item mx-0 mx-lg-1">
            <a class="to-modal nav-link py-3 px-0 px-lg-3 js-scroll-trigger" href="{{ path('hotel_gallery') }}">Галлерея</a>
          </li>#}
          <li class="nav-item mx-0 mx-lg-1">
            <a class="to-modal nav-link py-3 px-0 px-lg-3 js-scroll-trigger" href="{{ path('hotel_contacts') }}">Контакты</a>
          </li>
        </ul>
        <span class="navbar-text" style="color:#fff">
          <!-- <span class="icon-search"></span> -->
          <button data-toggle="modal" data-target="#callBackModal" class="btn btn-primary font-content"><span class="icon-mobile"></span> Обратный звонок</button>
        </span>

      </div>
    </div>
  </nav>

    <div class="content">
    {% block content %}{% endblock %}
    </div>
    {{ render(controller('HotelBundle\\Controller\\HotelController::callBackModalRender')) }}



    <!-- Footer -->
    <footer class="footer text-center" style = 'padding-bottom:50px;padding-top: 50px;'>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12 col-xs-12 text-left">
            <h5 class="text-uppercase mb-2">SV-отель</h5>
            <p class="mb-0">г. Бийск, Советская, 212/2, БЦ Изумрудный</p>
          </div>

          <div class="col-md-4  col-sm-12 col-xs-12 text-left">
              © «SV-Hotel», 2018<br />
                Современный, комфортный мини-отель
          </div>

        </div>
      </div>
    </footer>

    </div>

    {% block javascript %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/hotel/jquery-ui/datepicker-ru.js') }}"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('bundles/hotel/slick/slick.min.js') }}"></script>
    <script src="{{ asset('bundles/hotel/fancybox/jquery.fancybox.min.js') }}"></script>
    <script src="{{ asset('bundles/hotel/js/form.js') }}"></script>

    <script type="text/javascript">

        $( ".datepicker" ).datepicker({ minDate: new Date(), dateFormat: "dd.mm.yy" });
        $.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );

        $('li.js-dropdown-hover').hover(function()
        {
          $(this).find('.dropdown-menu').stop(true, true).delay(0).fadeIn(10);
        }, function() {
          $(this).find('.dropdown-menu').stop(true, true).delay(100).fadeOut(200);
        });

    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter49923277 = new Ya.Metrika2({
                        id:49923277,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/49923277" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <script type="text/javascript">
        $(function(){
          if(window.location.hash) {
              var hash = window.location.hash;
              $(hash).modal('toggle');
          }
        });
    </script>


    {% endblock %}
  </body>
</html>
