{% extends "@Hotel/Default/layout.html.twig" %}
{% block stylesheet %}
{{ parent() }}
<style media="screen">
    .rp-item { margin-bottom:35px; }
    .rp-row { box-shadow: 0 0 20px 0px rgba(71, 63, 63, 0.2); }
    .rp-row-image-container { padding-left:0;padding-right:0;  }
    .rp-image { width:100%;height:300px; }
    .rp-description-container { padding-left:30px;background-color:#fff; }
    .rp-description-container > h4 { padding-top:20px;padding-bottom:10px; }
</style>
{% endblock %}
{% block title %}{{ category ? category.title : parent() }}{% endblock %}
{% block content %}
<section>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('hotel_homepage') }}">Главная</a></li>
        {% if category %}
        <li class="breadcrumb-item">{{ category.title }}</li>
        {% endif %}
      </ol>
    </nav>
    {% if category %}
    <h1>{{ category.title }}</h1>
    {% endif %}

    {% if posts | length > 0 %}
    {% for post in posts %}
    <div class="rp-item">
      <div class=" container">
        <div class="rp-row row">
          <div class="rp-row-image-container col-4">
            <a href="{{ path('hotel_post', { 'slug': post.slug }) }}">
            {% if post.images | length > 0 %}
            {% set image = post.images.0.image %}
            <div class="rp-image" style="background:url({{ image|thumbnail('preview') }}) no-repeat; {{ image.width > image.height ? 'background-size:auto100% ;background-position:center;' : 'background-size:100% auto;' }}"></div>
            {% else %}
            <div class="rp-image" style="background:url({{ asset('bundles/hotel/images/placeholder.png') }}) no-repeat; background-position: center; background-size:auto 100%;"></div>
            {% endif %}
            </a>
          </div>
          <div class="col-8 rp-description-container">
            <h4><a href="{{ path('hotel_post', { 'slug': post.slug }) }}">{{ post.title }}</a></h4>

            {% if post.shortText %}
                <p>{{ post.shortText | nl2br }}</p>
            {% elseif post.text %}
                {% set short_text = post.text | striptags | raw %}

                {% if short_text | length >= 200 %}

                    <p>{{ ((short_text | raw) | slice(0, 200) ~ '...')  }} <a href ="{{ path('hotel_post', {'slug' : post.slug }) }}">Читать далее.</a></p>

                {% else %}

                    <p>{{ short_text | raw    }}</p>

                {% endif %}
            {% endif %}

          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}

    <p>Нет публикаций</p>

    {% endif %}
  </div>
</section>
{% endblock %}
