{% extends "@Hotel/Default/layout.html.twig" %}
{% block stylesheet %}
{{ parent() }}
<style media="screen">

</style>

{% endblock %}
{% block title %}Бронирование номера{% endblock %}
{% block content %}
<section>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('hotel_homepage') }}">Главная</a></li>
        <li class="breadcrumb-item">Бронирование номера</li>
      </ol>
    </nav>

    <h1>Бронирование номера</h1>

    {{ form_start(filter_form) }}
        <div class="container">


            <div class="row">
                <div class="col-md-3">
                    {{ form_row(filter_form.dateCome, { 'label' : 'Дата заезда', 'attr' : { 'autocomplete' : 'off', 'class' : 'form-control datepicker' } }) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(filter_form.dateLeft, { 'label' : 'Дата выезда', 'attr' : {  'autocomplete' : 'off', 'class' : 'form-control datepicker' } }) }}
                </div>
                <div class="col-md-4">
                    <label for="">&nbsp;</label>
                    {{ form_row(filter_form.submit, { 'label' : 'Проверить наличие мест', 'attr' : { 'class' : 'btn btn-secondary btn-block' } }) }}
                </div>
            </div>

        </div>
        <br />
    {{ form_end(filter_form) }}
    <p>Выбрано с {{ date_come.format('d.m.Y') }} до {{ date_left.format('d.m.Y') }}</p>
    {% if room_types and room_types | length > 0 %}
        {% for room_type in room_types %}
            <div class="row">

                <div class="col-md-3 col-sm-12 col-xs-12">
                    {% if room_type.images | length > 0 %}
                        {% set image = room_type.images.0.image %}
                        <div class="rp-image"
                             style="width:230px; height:150px;background:url({{ image|thumbnail('preview') }}) no-repeat; {{ image.width > image.height ? 'background-size:auto 100%;background-position:center;' : 'background-size:100% auto;' }}"></div>
                    {% else %}
                        <div class="rp-image"
                             style="width:230px; height:150px;background:url({{ asset('bundles/hotel/images/placeholder.png') }}) no-repeat; background-position: center; background-size:auto 100%;"></div>
                    {% endif %}
                </div>

                <div class="col-md-5 col-sm-12 col-xs-12">
                    <h5>{{ room_type.title }}</h5>
                    {% if room_type.text %}
                        <small>{{ room_type.text }}</small>
                    {% endif %}
                </div>
                <div  class="col-md-2 col-sm-6 col-xs-6" style="width:1%;white-space:nowrap">
                    {% if discount > 0 %}
                        <div class="rp-price-container old">
                            <s>
                                {% if room_type.priceFrom == room_type.priceTo %}
                                    {{ discount > 0 ? room_type.priceFrom : "" }}
                                {% else %}
                                    {{ room_type.priceFrom > 0 ? "от " ~ room_type.priceFrom: "" }}
                                    {{ room_type.priceTo > 0 ? "до " ~ room_type.priceTo: "" }}
                                {% endif %}
                                руб.
                            </s>
                        </div>
                    {% endif %}

                    <div class="rp-price-container">
                        {% if room_type.priceFrom == room_type.priceTo %}
                            {{ discount > 0 ? (discount > 0 ? ((room_type.priceFrom - (room_type.priceFrom / 100 * discount))  | round) : room_type.priceFrom) : room_type.priceFrom }}
                        {% else %}
                            {{ room_type.priceFrom > 0 ? "от " ~ (discount > 0 ? (room_type.priceFrom - (room_type.priceFrom / 100 * discount)) : room_type.priceFrom) | round: "" }}
                            {{ room_type.priceTo > 0 ? "до " ~ (discount > 0 ? (room_type.priceTo - (room_type.priceTo / 100 * discount)) : room_type.priceTo) | round: "" }}
                        {% endif %}
                        руб.
                    </div>
                </div>

                <div class="col-md-2 col-sm-6 col-xs-6" style="width:1%;white-space:nowrap">
                    {% set physicalRoom = room_type.getNotBookedPhysicalRoom %}
                    {% if physicalRoom %}
                        <a href="{{ path('hotel_room_booking', { 'dateCome' : date_come.format('Y-m-d'), 'dateLeft' : date_left.format('Y-m-d'),  'physicalRoomId' : physicalRoom.id }) }}"
                           style="color:#fff;" class="btn btn-primary">Забронировать</a>
                    {% else %}
                        <button type="button" class="btn btn-default" disabled name="button">Забронировать</button>
                    {% endif %}
                </div>
            </div>
            <hr />
        {% endfor %}
    {% endif %}
  </div>
</section>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">

          

    </script>

{% endblock %}
