{% extends "@Hotel/Default/layout.html.twig" %}
{% block stylesheet %}
  {{ parent() }}

  <style>
    .slick-track {  }
  </style>
{% endblock %}
{% block title %}{{ room.metaTitle ? room.metaTitle : room.title }}{% endblock %}
{% block content %}
<section class="bg-1">
    <div class="container">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('hotel_homepage') }}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{{ path('hotel_rooms') }}">Номера</a></li>
            <li class="breadcrumb-item">{{ room.title }}</li>
          </ol>
        </nav>


        <h1>{{ room.title }}</h1>

        <div class="row">

            <div class="col-7">
                {% if room.images | length > 0 %}
                <div class="slider slider-for">
                    {% for image in room.images %}
                    <div>
                        <a data-fancybox="gallery"  class="" href="{{ image.image|thumbnail('big') }}">
                            <div style="width:100%;height:300px;background:url({{ image.image|thumbnail('big') }}) no-repeat;{{ image.image.width > image.image.height ? 'background-size:100% auto;background-position:center;' : 'background-size:100% auto;' }}"></div>
                        </a>
                    </div>

                    {% endfor %}
                </div>
                <div class="slider slider-nav">
                    {% for image in room.images %}
                    <div>
                          <div style="height:100px;background:url({{ image.image|thumbnail('preview') }}) no-repeat;  {{ image.image.width > image.image.height ? 'background-size:auto 100%; background-position:center;' : 'background-size:100% auto;' }} "></div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <img width="100%" src="{{ asset('bundles/hotel/images/placeholder.png') }}" alt="">
                {% endif %}
            </div>

            <div class="col-5">
              {% if room.priceFrom > 0 or room.priceTo > 0 %}

                  {% if discount > 0 %}
                  <div class="rp-price-container old">
                      <s>
                        {% if room.priceFrom == room.priceTo %}
                          {{ discount > 0 ? room.priceFrom : "" }}
                        {% else %}
                          {{ room.priceFrom > 0 ? "от " ~ room.priceFrom: "" }}
                          {{ room.priceTo > 0 ? "до " ~ room.priceTo: "" }}
                        {% endif %}
                        руб.
                      </s>
                  </div>
                  {% endif %}


                  <div class="rp-price-container">
                        {% if room.priceFrom == room.priceTo %}
                          {{ discount > 0 ? (discount > 0 ? ((room.priceFrom - (room.priceFrom / 100 * discount))  | round) : room.priceFrom) : room.priceFrom }}
                        {% else %}
                          {{ room.priceFrom > 0 ? "от " ~ (discount > 0 ? (room.priceFrom - (room.priceFrom / 100 * discount)) : room.priceFrom) | round: "" }}
                          {{ room.priceTo > 0 ? "до " ~ (discount > 0 ? (room.priceTo - (room.priceTo / 100 * discount)) : room.priceTo) | round: "" }}
                        {% endif %}
                      руб.
                  </div>


              {% endif %}
              {% if discount > 0 %}
              <div class="rp-discount-description">Скидка предоставляется гостям только при условии прямого бронирования (без посредников) на официальном сайте отеля или по телефонам бронирования отеля и оплаты непосредственно в отеле. Скидка не суммируются с другими акциями и спецпредложениями.</div>
              {% endif %}

              <br />
                {% if room.floor > 0 %}
                <p><b>Этаж: </b> {{ room.floor }}</p>
                {% endif %}

                {% if room.areaSize > 0 %}
                <p><b>Площадь: </b> {{ room.areaSize }}м²</p>
                {% endif %}

                {% if room.personsNumber > 0 %}
                <p><b>Количество гостей: </b> до {{ room.personsNumber }}-х</p>
                {% endif %}

                {% if room.includes %}
                <p><b>Включено: </b> {{ room.includes }}</p>
                {% endif %}

                <div class="">
                    <button data-room-id="{{ room.id }}" data-toggle="modal" data-target="#bookModal" type="submit" class="js-book-button btn btn-primary">Забронировать</button>
                </div>
            </div>


            {% if room.text %}
            <div class="col-12">
              <h3>Описание</h3>
              {{ room.text | nl2br }}
            </div>
            {% endif %}


        </div>



    </div>
</section>
{{ render(controller('HotelBundle\\Controller\\HotelController::bookRoomModalRender')) }}
{% endblock %}
{% block javascript %}
{{ parent() }}
<script type="text/javascript">
  $('.slider-for').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: false,
      fade: true,
      asNavFor: '.slider-nav'
  });

  $('.slider-nav').slick({
      slidesToShow: 4,
      slidesToScroll: 1,
      asNavFor: '.slider-for',
      dots: true,
      centerMode: true,
      focusOnSelect: true
  });
  $('[data-fancybox="gallery"]').fancybox({
    loop : true
  });
</script>
{% endblock %}
