{% set route =  app.request.attributes.get('_route') %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <!-- Twitter meta-->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@pratikborsadiya">
    <meta property="twitter:creator" content="@pratikborsadiya">
    <!-- Open Graph Meta-->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Vali Admin">
    <meta property="og:title" content="Vali - Free Bootstrap 4 admin theme">
    <meta property="og:url" content="http://pratikborsadiya.in/blog/vali-admin">
    <meta property="og:image" content="http://pratikborsadiya.in/blog/vali-admin/hero-social.png">
    <meta property="og:description" content="Vali is a responsive and free admin theme built with Bootstrap 4, SASS and PUG.js. It's fully customizable and modular.">
    <title>{% block title %}Admin Dashboard{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/admin/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style media="screen">

        .btn { border-radius:0px; }
        .image-selectable.selected { border:2px solid red; opacity: 0.7; }
        .image-selectable:hover { opacity: 0.7; }

        .il-col { margin-bottom: 30px;}
        .il-col-container { overflow: hidden; border-radius:4px; box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.25); }
        .il-col-area { height: 200px; position: relative; }
        .remove-icon { cursor:pointer; z-index:1; color: #777;  font: 14px/100% arial, sans-serif; position: absolute; right: 5px; text-decoration:none; text-shadow: 0 1px 0 #fff; top: 5px; }
        .remove-icon:hover { color:red; }
        .remove-icon:after {   content: '✖'; }

        .il-col-description { background-color:#fff; padding:3px; }
        .il-col-image { z-index:1;  background-color:#fff; }
        .il-col-background { z-index:0;  }
        .il-col-background, .il-col-image { position:absolute;width:100%;height:100%; }


        .app-sidebar { padding-top: 0px; }
        .app-content { margin-top: 0px; }
        .app-sidebar__user { background-color:#fff; margin-bottom: 0; padding: 24px;}

        .app-title { padding: 30px 50px; }

        .btn-file {
            position: relative;
            overflow: hidden;
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }


    </style>

    {% endblock %}

  </head>

  <body class="app sidebar-mini rtl">

    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
      <div class="app-sidebar__user">
        <a target="_blank" href="{{ path('hotel_homepage') }}">
            <img width="100%" src="{{ asset('bundles/admin/images/logo.png') }}" alt="">
        </a>

      </div>
      <ul class="app-menu">
        <li><a class="app-menu__item{{ route == 'admin_index' ? ' active' : '' }}" href="{{ path('admin_index') }}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
        <li class="treeview{{ route in [ 'admin_room_bookings', 'admin_room_booking_editor', 'admin_rooms', 'admin_room_create', 'admin_room_editor', 'admin_physical_rooms', 'admin_physical_room_editor' ]  ? ' is-expanded' : '' }}">
          <a class="app-menu__item{{ route in [ 'admin_room_bookings',  'admin_room_booking_editor', 'admin_rooms', 'admin_room_create', 'admin_room_editor', 'admin_physical_rooms', 'admin_physical_room_editor' ]  ? ' active' : '' }}"  href="{{ path('admin_rooms') }}" data-toggle="treeview"><i class="app-menu__icon  fa fa-home"></i><span class="app-menu__label">Номера</span><i class="treeview-indicator fa fa-angle-right"></i></a>
          <ul class="treeview-menu">
            <li><a class="treeview-item{{ route == 'admin_room_create' ? ' active' : '' }}"  href="{{ path('admin_room_create') }}" ><i class="icon fa fa-plus"></i> Добавить номер</a></li>
            <li><a class="treeview-item{{ route == 'admin_rooms' ? ' active' : '' }}"  href="{{ path('admin_rooms') }}"><i class="icon fa fa-list"></i>  Список номеров</a></li>
            <li><a class="treeview-item{{ route == 'admin_physical_rooms' ? ' active' : '' }}"  href="{{ path('admin_physical_rooms') }}"><i class="icon fa fa-list"></i>  Физические номера</a></li>
            <li><a class="treeview-item{{ route in [ 'admin_room_booking_editor', 'admin_room_bookings' ] ? ' active' : '' }}"  href="{{ path('admin_room_bookings') }}"><i class="icon fa fa-list"></i>  Бронирования</a></li>
          </ul>
        </li>
         <li><a class="app-menu__item{{ route == 'admin_images' ? ' active' : '' }}" href="{{ path('admin_images') }}"><i class="app-menu__icon fa fa-camera-retro"></i><span class="app-menu__label">Фотографии</span></a></li>
         <li><a class="app-menu__item{{ route in { 0 : 'admin_feedbacks', 1 : 'admin_feedback', 2 : 'admin_feedback_editor' }  ? ' active' : '' }}" href="{{ path('admin_feedbacks') }}"><i class="app-menu__icon fa fa-comments"></i><span class="app-menu__label">Сообщения</span></a></li>
         <li><a class="app-menu__item{{ route in { 0 : 'admin_posts', 1 : 'admin_create_post', 2 : 'admin_post_editor' }  ? ' active' : '' }}" href="{{ path('admin_posts') }}"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Публикации</span></a></li>
         <li><a class="app-menu__item{{ route in { 0 : 'admin_reviews', 1 : 'admin_review_create', 2 : 'admin_review_editor' }  ? ' active' : '' }}" href="{{ path('admin_reviews') }}"><i class="app-menu__icon fa fa-star"></i><span class="app-menu__label">Отзывы</span></a></li>
         <li><a class="app-menu__item{{ route == 'admin_setting_editor' ? ' active' : '' }}" href="{{ path('admin_setting_editor') }}"><i class="app-menu__icon fa fa-cogs"></i><span class="app-menu__label">Настройки</span></a></li>
      </ul>
    </aside>
    <main class="app-content">

        {% block content_header %}
        <div class="app-title">
          <div>
            <h1><i class="fa fa-dashboard"></i> {% block header_title %}Admin Dashboard{% endblock %}</h1>
            <!-- <p>A free and modular admin template</p> -->
          </div>
          <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_index') }}">Dashboard</a></li>
            {% block header_breadcrumb %}{% endblock %}
          </ul>
        </div>
        {% endblock %}

        {% block content %}


        {% endblock %}


    </main>

    {% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script>

        $('body').on('click', '.image-selectable', function()
        {
            var th = $(this);
            th.hasClass("selected") ? th.removeClass("selected") : th.addClass("selected");
        });
        $('body').on('click', '[data-remove]', function()
        {
            var lnk = $(this);
            $(lnk.attr("data-remove")).remove();

        });
    </script>
    <script src="{{ asset('bundles/admin/js/main.js') }}"></script>

    <!-- <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript" src="js/plugins/chart.js"></script> -->
    <script type="text/javascript">
    //   var data = {
    //   	labels: ["January", "February", "March", "April", "May"],
    //   	datasets: [
    //   		{
    //   			label: "My First dataset",
    //   			fillColor: "rgba(220,220,220,0.2)",
    //   			strokeColor: "rgba(220,220,220,1)",
    //   			pointColor: "rgba(220,220,220,1)",
    //   			pointStrokeColor: "#fff",
    //   			pointHighlightFill: "#fff",
    //   			pointHighlightStroke: "rgba(220,220,220,1)",
    //   			data: [65, 59, 80, 81, 56]
    //   		},
    //   		{
    //   			label: "My Second dataset",
    //   			fillColor: "rgba(151,187,205,0.2)",
    //   			strokeColor: "rgba(151,187,205,1)",
    //   			pointColor: "rgba(151,187,205,1)",
    //   			pointStrokeColor: "#fff",
    //   			pointHighlightFill: "#fff",
    //   			pointHighlightStroke: "rgba(151,187,205,1)",
    //   			data: [28, 48, 40, 19, 86]
    //   		}
    //   	]
    //   };
    //   var pdata = [
    //   	{
    //   		value: 300,
    //   		color: "#46BFBD",
    //   		highlight: "#5AD3D1",
    //   		label: "Complete"
    //   	},
    //   	{
    //   		value: 50,
    //   		color:"#F7464A",
    //   		highlight: "#FF5A5E",
    //   		label: "In-Progress"
    //   	}
    //   ]
    //
    //   var ctxl = $("#lineChartDemo").get(0).getContext("2d");
    //   var lineChart = new Chart(ctxl).Line(data);
    //
    //   var ctxp = $("#pieChartDemo").get(0).getContext("2d");
    //   var pieChart = new Chart(ctxp).Pie(pdata);
    // </script>
     <!-- Google analytics script-->
     <script type="text/javascript">
    //   if(document.location.hostname == 'pratikborsadiya.in') {
    //   	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    //   	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    //   	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    //   	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    //   	ga('create', 'UA-72504830-1', 'auto');
    //   	ga('send', 'pageview');
    //   }
    </script>
    {% endblock %}
  </body>
</html>
